@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Barlow+Semi+Condensed&family=Bayon&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}

html {
    height: 100%;
    background-size: contain;
    background: transparent;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: linear-gradient(180deg, #000 46.88%, #0E694D 100%);
    color: white;
}

header {
    background: #201E25;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 1280px;
    margin: auto;
}

.cabecalho-titulo {
    font-family: 'Bayon', sans-serif;
    color: #1DDBA2;
    font-size: 30px;
    text-align: center;
}

.cabecalho-menu{
    display: flex;
    gap: 32px;
}

.cabecalho-menu-home {
    font-weight: 500;
    color: #1DDBA2;
    font-size: 18px;
    text-align: center;
}

.cabecalho-menu-curriculos{
    font-weight: 500;
    color: #128a66;
    font-size: 18px;
    text-align: center;
}

.cabecalho-menu-agradecimento{
    font-weight: 500;
    color: #128a66;
    font-size: 18px;
    text-align: center;
}

.centralizador {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.conteudo {
    margin: auto;
    max-width: 1280px;
    display: block;
}

.conteudo-principal {
    display: grid;
    gap: 20px;
}

.conteudo-logo{
    padding-top: 50px;
    padding-bottom: 10px;
    width: 200px;
}

.conteudo-title-principal{
    font-size: 40px;
    color: #1DDBA2;
}

.conteudo-mensagem-boasVindas{
    font-size: 26px;
    color: #FFF;
    text-align: justify;
    
}